spring:
  application:
    name: platform-demo
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${POSTGRES_DB:platformdemo}?currentSchema=${DB_SCHEMAS:identity,public}
    username: ${POSTGRES_USER:platformdemo}
    password: "${POSTGRES_PASSWORD:platformdemo_password}"
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: ${DEFAULT_SCHEMA:identity}
        jdbc:
          lob:
            non_contextual_creation: true
  data:
    mongodb:
      uri: "${SPRING_DATA_MONGODB_URI:mongodb://${MONGO_ROOT_USER:platformdemo}:${MONGO_ROOT_PASSWORD:platformdemo_password}@${MONGO_HOST:mongodb}:${MONGO_PORT:27017}/${MONGO_DB:platformdemo}?authSource=${MONGO_AUTH_SOURCE:admin}}"
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

axon:
  serializer:
    events: jackson
    messages: jackson
    general: jackson
  eventhandling:
    processors:
      identity:
        mode: tracking
